<h1>{{name}}</h1>

<p>Serves {{servings}}</p>
<p>Cook Time: {{cookTime}}</p>

<h3>Ingredients:</h3>
<ul>
  {{#each ingredients}}
    <li>
      <input type="checkbox">{{this}}
    </li>
  {{/each}}
</ul>
<hr>
{{#each directions}}
  <p>{{this}}</p>
{{/each}}

<h4>SOURCE:</h4>
<a href="{{source}}">{{source}}</a>

<h4>Tags:</h4>
<ul>
  {{#each tags}}
    <li>"{{this}}"</li>
  {{/each}}
</ul>

<img src="{{images}}" alt="" />

<a href="{{home}}">Home</a>
